<!DOCTYPE html>
<html>
<head>
    <title>Список пользователей</title>
    <meta charset="utf-8" />
    <link href="/public/stylesheets/style.css" rel="stylesheet">
</head>
<body>
<ul class="menu-main">
    <li><a href="/" class="current">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/login">Login</a></li>
</ul>
<h1>Список пользователей</h1>
<p><a href="/users/create">Добавить пользователя</a></p>
<table>
    <tr><th>id</th><th>name</th><th></th></tr>
    {{#each users}}
        <tr>
            <td>{{this.idUser}}</td>
            <td>{{this.name}}</td>
            <td>{{this.login}}</td>
            <td>{{this.password}}</td>
            <td>{{this.body}}</td>
            <td>
                <a href="users/edit/{{this.idUser}}">Edit</a>|
                <form action="users/delete/{{this.idUser}}" method="POST" style="display:inline;">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</body>

<style>
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
        color: #00B7FF;
    }
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        background-color: antiquewhite;
    }
</style>
<html>